name: Terraform CI

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    terraform:
        name: 'Terraform steps'
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout/@v2

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v1
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v1

            - name: terraform init
              run: terraform init

            - name: terraform fmt
              run: terraform fmt

            - name: terraform plan
              run: terraform plan

            - name: terraform apply
              if: github.ref == 'refs/heads/main' && github.event_name == 'push'
              run: terraform apply --auto-approve
